body {
  background-image: url("../images/waves.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: white;
}

 /* form {
  background-color: white;
  padding: 1em;
  border-radius: 0.4em;
  border: 0.1em;
  box-shadow: 2em;
  opacity: 0.9;
 } */
